// COLORS
$primary:#056CF2;
$secundary:#0660D6;
$blueSky: #DAEAFE;
$dark:#000000;
$lightDark: #262525;
$gray:#B1B1B4;
$grayNav:#6C6C73;
$lightGray:#C4C4C4;
$background:#E5E5E5;
$backgroundMain: #F2F2F2;
$graySideBar:#67676D;